<div ng-form="editAutopayReviewForm">
    <payment-flow-tracker tracker-info="trackerInfo" flow-is-autopay="true"></payment-flow-tracker>
    <payment-flow-auto-pay-setup billing-info="serviceResponse" user-selected-auto-pay="true" flow-is-autopay="true"></payment-flow-auto-pay-setup>
    <div class="row payment-flow-plan-details">
        <div class="payment-flow-title-bar-gray">
            <h6 ng-bind="::loc.BP_TITLE_PLAN_DETAILS"></h6>
        </div>
        <div class="row m0 mt3 pt0 payment-row">
            <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_POLICY_NUMBER"></span>
            <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::serviceResponse.account.policyMembership.policyId"></span>
        </div>
        <div class="row m0 mt3 pt0 payment-bottom-row">
            <span class="col-xs-7 mb3 mt3" ng-bind="::loc.SUBSCRIBER_ID"></span>
            <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::serviceResponse.account.policyMembership.fullExternalId"></span>
        </div>
        <div class="payment-flow-title-bar-gray">
            <h6 ng-bind="::loc.BP_TITLE_PAYMENT_METHOD"></h6>
        </div>
        <div class="row m0 mt3 pt0 payment-row">
            <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_TITLE_PAYMENT_FREQUENCY"></span>
            <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::loc.BP_MONTHLY_AUTOPAY"></span>
        </div>
        <div class="row m0 mt3 pt0 payment-row">
            <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_MONTHLY_DRAFT_DATE"></span>
            <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::loc.BP_MONTHLY_DRAFT"></span>
        </div>
        <div class="row m0 mt3 pt0 payment-row">
            <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_MONTHLY_PREMIUM_AMOUNT"></span>
            <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::serviceResponse.account.currentInvoice.billedAmount | currency"></span>
        </div>
        <div class="row m0 mt3 pt0 payment-row">
            <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_TITLE_PAYMENT_METHOD"></span>
            <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::localizedPaymentMethod"></span>
        </div>
        <div class="row m0 mt3 pt0 payment-row" ng-if="localizedBillingMethod && serviceResponse.preferences.billingMethod !== 'EMAIL'">
            <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_TITLE_BILLING_METHOD"></span>
            <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::localizedBillingMethod"></span>
        </div>

        <edit-credit-details-button
                class="pl2 pr2 flex-row"
                payment-method="userSetData.paymentMethod"
                cancel-route="/edit-autopay-flow/method"
                button-title="loc.BP_EDIT_METHOD">
        </edit-credit-details-button>

        <div class="payment-flow-title-bar-gray">
            <h6 ng-bind="::loc.BP_HEADER_PAYMENT_DETAILS"></h6>
        </div>
        <div ng-if="userSetData.paymentMethod === 'bankdraft'">
            <div class="row m0 mt3 pt0 payment-row">
                <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_NAME_ON_ACCOUNT"></span>
                <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::userSetData.accountHolderName"></span>
            </div>
            <div class="row m0 mt3 pt0 payment-row">
                <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_ACCOUNT_TYPE"></span>
                <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::userSetData.accountType"></span>
            </div>
            <div class="row m0 mt3 pt0 payment-row">
                <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_ROUTING_NUMBER"></span>
                <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::userSetData.routingNumber"></span>
            </div>
            <div class="row m0 mt3 pt0 payment-bottom-row">
                <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_BANK_ACCOUNT_NUMBER"></span>
                <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left">{{::userSetData.accountNumber | maskAccount}}</span>
            </div>
        </div>
        <div ng-if="userSetData.paymentMethod === 'creditcard'">
            <div class="row m0 mt3 pt0 payment-row">
                <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_NAME_ON_CARD"></span>
                <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::userSetData.creditCardDetails.firstName"></span>
            </div>
            <div class="row m0 mt3 pt0 payment-row">
                <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_CARD_NUMBER"></span>
                <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left" ng-bind="::userSetData.creditCardDetails.lastFour | maskAccount">
            </span>
            </div>
            <div class="row m0 mt3 pt0 payment-bottom-row">
                <span class="col-xs-7 mb3 mt3" ng-bind="::loc.BP_EXPIRATION_DATE"></span>
                <span class="col-xs-5 mb3 mt3 med-dark-gray text-bold text-left">
            {{::userSetData.creditCardDetails.month}}/20{{::userSetData.creditCardDetails.year}}
            </span>
            </div>
        </div>
        <edit-credit-details-button
                class="pl2 pr2 flex-row"
                payment-method="userSetData.paymentMethod"
                cancel-route="/edit-autopay-flow/details"
                button-title="loc.BP_EDIT_DETAILS">
        </edit-credit-details-button>

        <div class="pl2 pr2 pt4">
            <pf-divider></pf-divider>
        </div>
    </div>
    <mobile-error-message ng-if="submissionError">
        <unsuccessful-header class="mb2" header-content="::loc.BP_AUTOPAY_SET_UP_UNSUCCESSFUL"></unsuccessful-header>
        <p class="mb0 alert-red text-center" ng-bind="::loc.BP_AUTOPAY_ERROR"></p>
    </mobile-error-message>
    <!-- <review-page-payment-error class="flex-column" ng-if="submissionError"></review-page-payment-error> -->
    <div class="pl4 pr4 pt4">
    <button class="btn btn-primary btn-block call-to-action-button" ng-click="submitPreferences()">
        <i class="fa fc-lock-nocircle mr2"></i>{{loc.BP_SUBMIT_AUTOPAY_SETUP}}
    </button>
    </div>
    <payment-flow-cancel-button></payment-flow-cancel-button>
</div>
<extendable-alert-modal open-modal-fn-alias="openBackModal" confirm-fn="goToPaymentDetails" modal-info="backModalObj"></extendable-alert-modal>