<div class="expandable">
  <h5>Cómo denunciar presuntos fraudes y abusos</h5>
  <p>Elija cualquiera de las tres opciones que se enumeran a continuación.</p>
  <p><strong>Teléfono:</strong>	Llame a nuestra línea directa confidencial de fraude al 1-800-324-4963, las 24 horas del día, los 7 días de la semana.</p>
  <p><strong>Por internet:</strong> Complete y envíe nuestro <a ng-click="openInBrowser(aboutDetails.contentLinks.reportFraudForm);">Formulario de denuncia de fraude en internet</a>.</p>
  <p><strong>Correo regular o fax:</strong> Descargue, imprima y envíe nuestro Formulario de denuncia de fraude en PDF. Nuestra dirección y número de fax están incluidos en el formulario.</p>
  <p>Haremos todo lo posible para mantener la confidencialidad de toda la información que recibamos.</p>

  <h5>¿Qué es el fraude y abuso en la atención médica?</h5>
  <p>El fraude y el abuso en la atención médica es un problema nacional que nos afecta a todos directa o indirectamente. Las estimaciones nacionales proyectan que anualmente se pierden miles de millones de dólares por fraude y abuso en el cuidado de la salud. Estas pérdidas llevan a un aumento en los costos de atención médica y a un posible aumento en los costos de cobertura.</p>
  <p>Específicamente, el fraude en la atención médica es una tergiversación intencional, engaño o acto intencional de engaño con el propósito de recibir un reembolso mayor. El abuso en la atención médica es descuido imprudente o una conducta que va en contra y es inconsistente con las prácticas comerciales o médicas aceptables que resultan en un mayor reembolso.</p>
  <p>Si bien Blue Cross and Blue Shield of North Carolina cree que la mayoría de los proveedores, afiliados, grupos y agentes son honestos, hay un pequeño número de personas que tratan de aprovecharse de las ventajas de Blue Cross NC y de nuestros afiliados participando en fraude y abuso de atención médica.</p>

  <h5>Tipos de fraude y abuso en la atención médica</h5>
  <p>El fraude y abuso en la atención médica se presenta de muchas formas. Las más comunes de estos formas incluyen:</p>
  <p><strong>Proveedores</strong></p>
  <ul>
    <li>Facturar por servicios que no se han proporcionado</li>
    <li>Duplicar la presentación de una reclamación por el mismo servicio</li>
    <li>Tergiversar del servicio prestado</li>
    <li>Cobrar por un servicio más complejo o caro de lo que realmente se proporcionó</li>
    <li>Facturar un servicio cubierto cuando el servicio realmente prestado no estaba cubierto</li>
  </ul>
  <p><strong>Afiliados</strong></p>
  <ul>
    <li>Usar una tarjeta de seguro de afiliado que no pertenezca a esa persona</li>
    <li>Agregar a alguien a una póliza que no cumple con los requisitos para recibir cobertura (por ejemplo, nietos)</li>
    <li>No retirar a alguien de una póliza cuando esa persona ya no cumple con los requisitos (por ejemplo, un ex-cónyuge)</li>
    <li>Visitar a varios médicos para obtener múltiples recetas médicas.</li>
  </ul>

  <h5>Ayúdenos a prevenir el fraude y el abuso de la atención médica</h5>
  <p>Blue Cross NC se toma muy en serio la lucha contra el fraude y el abuso de la atención médica. Es por eso que Blue Cross NC tiene un departamento dedicado a prevenir el fraude y el abuso: la Unidad de Investigaciones Especiales (Special Investigations Unit, SIU). Esta unidad incluye un equipo de profesionales entrenados que revisan cuidadosamente todas las denuncias de sospecha de fraude y abuso.</p>
  <p>La misión de la Unidad de Investigaciones Especiales de Blue Cross NC es detectar, investigar, prevenir, procesar y recuperar la pérdida de activos corporativos y de clientes como resultado de acciones fraudulentas y abusivas cometidas por proveedores, miembros, grupos, corredores y otros.</p>
  <p>Si sospecha que Blue Cross NC y nuestros afiliados son víctimas de fraude y abuso de atención médica, reporte el problema inmediatamente a la Unidad de Investigaciones Especiales de Blue Cross NC a través de cualquiera de las opciones mencionadas anteriormente. Su asistencia ayudará a Blue Cross NC en sus continuos esfuerzos para combatir los crecientes costos de la atención médica.</p>

  <h5>Consejos para prevenir el fraude y abuso en la atención médica</h5>
  <p>El fraude y el abuso en la atención médica es un problema nacional, y su ayuda es vital para ayudarnos a prevenir el problema. Los consejos simples que pueden ayudarle a prevenir el fraude y el abuso incluyen:</p>
  <ul>
    <li>Revise su explicación de beneficios para confirmar las fechas exactas del servicio, nombre de los proveedores y tipos de servicios reportados</li>
    <li>Proteja su tarjeta del seguro y su información personal en todo momento</li>
    <li>Cuente sus píldoras cada vez que recoja una receta</li>
    <li>Obtenga información sobre sus proveedores con las juntas médicas de su estado</li>
    <li>Reporte sus sospechas de fraude y abuso tan pronto como sea posible</li>
  </ul>

  <h5>Enlaces relacionados con el fraude y abuso de atención médica</h5>
  <p><a ng-click="openInBrowser(aboutDetails.contentLinks.reportFraudUrl);">Blue Cross and Blue Shield Association</a></p>
  <p><a ng-click="openInBrowser(aboutDetails.contentLinks.nhcaaUrl);">National Healthcare Anti-Fraud Association</a></p>
  <p><a ng-click="openInBrowser(aboutDetails.contentLinks.acfeUrl);">Association of Certified Fraud Examiners</a></p>
</div>
