<div class="col-xs-12 col-sm-8 col-sm-offset-2 benefits-document-container">
  <div class="sso-link-area">
    <div
      id="dental_single"
      ng-if="policySelection.showDental && policySelection.showRx"
    >
      <div class="blue-bar-label">
        <label ng-bind="loc.DENTAL_PRESCRIPTION_COVERAGE"></label>
      </div>
      <div class="blue-box">
        <div class=" home-card-no-secure-messages home-card-no-messages">
          <span ng-bind="loc.INFO_DENTAL_RX_BEN"></span>
        </div>
        <div class="small-padding">
          <button
            class="btn btn-default btn-block view-sso-link"
            ng-click="gotoDentalBenefits(policySelection.dentalSSOLink); $event.stopPropagation();"
            track-action="{action: 'benefitsViewDental', section: analyticConstants.BENEFITS_SECTION}"
          >
            <span ng-bind="loc.VIEW_DENTAL_BEN"></span>
            <i class="fc-external-link med-blue"></i>
          </button>
          <button
            class="btn btn-default btn-block view-sso-link"
            ng-click="gotoDrugBenefits(policySelection.rxSSOLinkBenefits); $event.stopPropagation();"
            track-action="{action: 'benefitsViewPrescription', section: analyticConstants.BENEFITS_SECTION}"
          >
            <span ng-bind="loc.VIEW_RX_BEN"></span>
            <i class="fc-external-link med-blue"></i>
          </button>
        </div>
      </div>
    </div>
    <div
      id="dental_single"
      ng-if="policySelection.showDental && !policySelection.showRx"
    >
      <div class="blue-bar-label">
        <label ng-bind="loc.DENTAL_COVERAGE"></label>
      </div>
      <div class="blue-box">
        <div class=" home-card-no-secure-messages home-card-no-messages">
          <span ng-bind="loc.INFO_DENTAL_BEN"></span>
        </div>
        <div class="small-padding">
          <button
            class="btn btn-default btn-block view-sso-link"
            ng-click="gotoDentalBenefits(policySelection.dentalSSOLink); $event.stopPropagation();"
            track-action="{action: 'benefitsViewDental', section: analyticConstants.BENEFITS_SECTION}"
          >
            <span ng-bind="loc.VIEW_DENTAL_BEN"></span>
            <i class="fc-external-link med-blue"></i>
          </button>
        </div>
      </div>
    </div>
    <div
      id="rx_single"
      ng-if="policySelection.showRx && !policySelection.showDental"
    >
      <div class="blue-bar-label">
        <label ng-bind="loc.PRESCRIPTION_COVERAGE"></label>
        <!-- <help-icon class="coverage-help" file-name="'help/prescription-coverage'"></help-icon> -->
      </div>
      <div class="blue-box">
        <div class=" home-card-no-secure-messages home-card-no-messages">
          <span
            ng-bind="loc.INFO_RX_BEN"
            ng-if="!policySelection.isState"
          ></span>
          <span
            ng-bind="loc.FAQ_RX_BENEFITS_SHP_ANS"
            ng-if="policySelection.isState"
          ></span>
        </div>

        <div class="small-padding">
          <button
            class="btn btn-default btn-block view-sso-link"
            ng-click="gotoDrugBenefits(policySelection.rxSSOLinkBenefits); $event.stopPropagation();"
            track-action="{action: 'benefitsViewPrescription', section: analyticConstants.BENEFITS_SECTION}"
          >
            <span ng-bind="loc.VIEW_RX_BEN"></span>
            <i class="fc-external-link med-blue"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="deductible-area" ng-if="coverageData.deductible.show">
    <div class="blue-bar-label">
      <label ng-bind="loc.DEDUCTIBLE"></label>
      <help-icon
        class="coverage-help"
        file-name="'help/deductible-help'"
      ></help-icon>
    </div>
    <div class="gray-box">
      <div class="coverage-table">
        <div class="coverage-row gray-row">
          <div
            class="coverage-label"
            ng-bind="coverageData.deductible.headerLabel"
          ></div>
          <div
            class="coverage-value"
            ng-bind="coverageData.deductible.headerValue"
          ></div>
        </div>
        <div
          class="coverage-row"
          ng-repeat="item in coverageData.deductible.items"
        >
          <div class="coverage-label" ng-bind="item.itemLabel"></div>
          <div class="coverage-value" ng-bind="item.itemValue"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="copayment-area" ng-if="coverageData.copayment.show">
    <div class="blue-bar-label">
      <label ng-bind="loc.COPAYMENTS"></label>
      <help-icon
        class="coverage-help"
        file-name="'help/copayment-help'"
      ></help-icon>
    </div>
    <div class="gray-box">
      <div class="coverage-table">
        <div class="coverage-row gray-row">
          <div
            class="coverage-label"
            ng-bind="coverageData.copayment.headerLabel"
          ></div>
          <div
            class="coverage-value"
            ng-bind="coverageData.copayment.headerValue"
          ></div>
        </div>
        <div
          class="coverage-row"
          ng-repeat="item in coverageData.copayment.items"
        >
          <div class="coverage-label" ng-bind="item.itemLabel"></div>
          <div class="coverage-value" ng-bind="item.itemValue"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="coinsurance-area" ng-if="coverageData.coinsurance.show">
    <div class="blue-bar-label">
      <label ng-bind="loc.COINSURANCE"></label>
      <help-icon
        class="coverage-help"
        file-name="'help/coinsurance-help'"
      ></help-icon>
    </div>
    <div class="gray-box">
      <div class="coverage-table">
        <div class="coverage-row gray-row">
          <div
            class="coverage-label"
            ng-bind="coverageData.coinsurance.headerLabel"
          ></div>
          <div
            class="coverage-value"
            ng-bind="coverageData.coinsurance.headerValue"
          ></div>
        </div>
        <div
          class="coverage-row"
          ng-repeat="item in coverageData.coinsurance.items"
        >
          <div class="coverage-label" ng-bind="item.itemLabel"></div>
          <div class="coverage-value" ng-bind="item.itemValue"></div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="prescription-area"
    ng-if="coverageData.prescription.show && !coverageData.isState"
  >
    <div class="blue-bar-label">
      <label ng-bind="loc.PRESCRIPTION_DRUGS"></label>
      <help-icon
        class="coverage-help"
        file-name="'help/prescription-drug'"
      ></help-icon>
    </div>
    <div class="gray-box">
      <div class="coverage-table">
        <div class="coverage-row gray-row">
          <div
            class="coverage-label"
            ng-bind="coverageData.prescription.headerLabel"
          ></div>
          <div
            class="coverage-value"
            ng-bind="coverageData.prescription.headerValue"
          ></div>
        </div>
        <div
          class="coverage-row"
          ng-repeat="item in coverageData.prescription.items"
        >
          <div class="coverage-label" ng-bind="item.itemLabel"></div>
          <div class="coverage-value" ng-bind="item.itemValue"></div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="prescription-area"
    ng-if="coverageData.prescription.show && coverageData.isState"
  >
    <div class="blue-bar-label">
      <label ng-bind="loc.PRESCRIPTION_DRUGS"></label>
      <help-icon
        class="coverage-help"
        file-name="'help/prescription-drug'"
      ></help-icon>
    </div>
    <div class="blue-box">
      <div class="small-padding document-buttons">
        <div ng-bind="coverageData.prescription.items[0].itemValue"></div>
        <button
          class="btn btn-block btn-default"
          ng-click="gotoSHR(); $event.stopPropagation();"
          track-action="{action: 'benefitsViewPrescription', section: analyticConstants.BENEFITS_SECTION}"
        >
          <span ng-bind="coverageData.prescription.items[1].itemValue"></span>
          <i class="fc-external-link light-gray"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="footnotes-area">
    <div class="gray-box">
      <div class="benefit-details benefits-card bottom-padding">
        <div class="benefits-body small-padding">
          <div class="benefits-footer-heading-text">
            <div
              class="family-summary"
              ng-bind="coverageData.footnotes.title"
            ></div>
            <hr />
          </div>
          <span ng-bind-html="footnotes"> </span>
          <div>
            <hr />
            <a
              class="btn btn-default btn-block graph-details-button"
              ng-click="toggleFootnotes()"
              track-action="{action: 'benefitsToggleFootnotes', section: analyticConstants.BENEFITS_SECTION}"
            >
              <span
                class="show-hide-benefits"
                ng-bind="FootnotesDetailButton"
              ></span>
              <i class="fc-{{ collapseExpandIcon }} benefits-icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
