<div class="col-xs-12 col-sm-8 col-sm-offset-2">
<div class="gray-box claim-compose">
  <div class="small-padding">
    <div class = "claim-message">
      <span ng-bind="loc.HAVE_QUESTIONS"></span>
    </div>
    <button class="btn btn-default btn-block ng-binding ng-scope" ng-click="gotoView('/inbox/compose' + '?option=claims&claim='+ secureMessage.claimId + '&dependentNo='+ secureMessage.claimdependentNo)">
      <span ng-bind="secureMessage.title"></span>
    </button>
  </div>
</div>
</div>
