<div class="col-xs-12 col-sm-8 col-sm-offset-2 document-button-container">
  <div class="document-buttons document-btn">
    <div ng-repeat="button in buttons" class="gray-box {{button.class1}}">
      <div ng-bind="button.description" class="btn-description" ng-if="button.description"></div>
      <button ng-attr-id="{{button.id}}" type="button" class="btn btn-default btn-block {{button.class}}" ng-click="this[button.onClick](button.id);">
        <span ng-attr-id="span{{button.id}}" ng-bind="button.title"></span>
        <i ng-attr-id="icon{{button.id}} " class="{{button.icon}}"></i>
      </button>
    </div>
  </div>
</div>
