<div class="expandable">
  <h5>How to Report Suspected Fraud and Abuse</h5>
  <p>Please choose any one of the three options listed below.</p>
  <p><strong>Telephone:</strong>	Call our confidential Fraud Hotline at 1-800-324-4963. 24 hours a day, 7 days a week.</p>
  <p><strong>Online:</strong> Complete and submit our <a ng-click="openInBrowser(aboutDetails.contentLinks.reportFraudForm);">Online Fraud Report Form</a>.</p>
  <p><strong>Mail or Fax:</strong> Download, print, and return our PDF Fraud Report Form. Our address and fax number are included on the form.</p>
  <p>We will make every effort to keep all information that we receive confidential.</p>

  <h5>What is Health Care Fraud and Abuse</h5>
  <p>Health care fraud and abuse is a national problem that affects all of us either directly or indirectly. National estimates project that billions of dollars are lost to health care fraud and abuse on an annual basis. These losses lead to increased health care costs and potential increased costs for coverage.</p>
  <p>Specifically, health care fraud is an intentional misrepresentation, deception, or intentional act of deceit for the purpose of receiving greater reimbursement. Health care abuse is reckless disregard or conduct that goes against and is inconsistent with acceptable business and/or medical practices resulting in greater reimbursement.</p>
  <p>While Blue Cross and Blue Shield of North Carolina believes that most providers, members, groups, and brokers are honest, there are a small number of people who try to take advantage of Blue Cross NC and our members by engaging in health care fraud and abuse.</p>

  <h5>Types of Health Care Fraud and Abuse</h5>
  <p>Health care fraud and abuse takes many forms. The most common of these forms include:</p>
  <p><strong>Providers</strong></p>
  <ul>
    <li>Billing for services that were not provided</li>
    <li>Duplicate submission of a claim for the same service</li>
    <li>Misrepresenting the service provided</li>
    <li>"Upcoding" - charging for a more complex or expensive service than was actually provided</li>
    <li>Billing for a covered service when the service actually provided was not covered</li>
  </ul>
  <p><strong>Members</strong></p>
  <ul>
    <li>Using a member ID card that does not belong to that person</li>
    <li>Adding someone to a policy that is not eligible for coverage (i.e., grandchildren)</li>
    <li>Failing to remove someone from a policy when that person is no longer eligible (i.e., a former spouse)</li>
    <li>"Doctor shopping" - visiting several doctors to obtain multiple prescriptions.</li>
  </ul>

  <h5>Help Us Prevent Health Care Fraud and Abuse</h5>
  <p>Blue Cross NC takes the fight against health care fraud and abuse very seriously. That is why Blue Cross NC has a department dedicated to preventing fraud and abuse: the Special Investigations Unit (SIU). The SIU includes a staff of trained professionals who carefully review all allegations of suspected fraud and abuse.</p>
  <p>Blue Cross NC's Special Investigations Unit's mission is to detect, investigate, prevent, prosecute and recover the loss of corporate and customer assets resulting from fraudulent and abusive actions committed by providers, members, groups, brokers, and others.</p>
  <p>If you suspect that Blue Cross NC and our members are victims of health care fraud and abuse, please report the matter to Blue Cross NC's SIU immediately via any of the options listed above. Your assistance will help Blue Cross NC in its continued efforts to combat the rising costs of health care.</p>

  <h5>Health Care Fraud and Abuse Prevention Tips</h5>
  <p>Health care fraud and abuse is a national problem, and your assistance is vital in helping us to prevent the problem. Simple tips that may help you prevent fraud and abuse include:</p>
  <ul>
    <li>Review your Explanation of Benefits to ensure accurate dates of service, name of providers, and types of services reported</li>
    <li>Protect your insurance card and personal information at all times</li>
    <li>Count your pills each time that you pick up a prescription</li>
    <li>Research your providers with your state's medical boards</li>
    <li>Report suspected fraud and abuse as soon as possible</li>
  </ul>

  <h5>Health Care Fraud and Abuse Related Links</h5>
  <p><a ng-click="openInBrowser(aboutDetails.contentLinks.reportFraudUrl);">Blue Cross and Blue Shield Association</a></p>
  <p><a ng-click="openInBrowser(aboutDetails.contentLinks.nhcaaUrl);">National Healthcare Anti-Fraud Association</a></p>
  <p><a ng-click="openInBrowser(aboutDetails.contentLinks.acfeUrl);">Association of Certified Fraud Examiners</a></p>
</div>
